@charset "utf-8";

/* These are the default fonts that came with the project files. */
@font-face {
    font-family: Champange;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Dylan Kelley
   Date: 9.10.18  
   
   Filename: lake_styles.css
*/

/* Structure Styles */
/* This style is used to set the background color to a blue-ish gray, or rgb(90, 105, 135); */
html {
    background-color: rgb(90, 105, 135);
}

/* This stlye changes the font to "Playfair Display", spaces the letters out by 1 pixel, aligns the text to the center, and changes the font size to 25 pixels. */
h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
    /* text-decoration: underline; */
    /* text-decoration-color: rgb(90, 105, 135); */
}

/* This style changes all links to a text color of black, removes the underline from the hypertext, and makes the font bolded. */
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* This style creates a 3 pixel wide border around the images. */
img {
    border: 3px solid rgba(255, 81, 0, 0.8);
}

/* This style aligns the footer to the center of the page, changes it's font to "Playfair Display", spaces the letters out by 1 pixel, spaces the words out by 2 pixels, changes the footer text to bold, and adds 20 pixels of padding on the top */
footer {
    text-align: center;
    /* border: 3px solid rgba(255, 81, 0, 0.8); */
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 700;
    padding-top: 20px;
    /* background-color: rgba(168, 165, 165, 0.363) */
}

/* This style changes all paragraphs to the "Kaushan Script" font, spaces the letters out by 2 pixels and the words out by 3 pixels, and makes the font have a bold value of 600. */
p {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 600;
}

/* This style aligns the text of the blockquote to the center. */
blockquote {
    padding: 0px 0px 0px 0px;
    text-align: center;
}

/* This style affects the emphasized text in the cite element to change the font to "Kaushan Script",  */
em {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 600;
}

cite {
    font-family: 'Playfair Display', serif;
}

/* Header Styles */
/* These stlyes are used to affect the header and navigation links at the top of the page, and are set to change the text/background color, font and font size/weight, padding, and to create borders around each link. These styles are also what change the text and border color when a link is hovered over. */
header {
    padding-top: 20px;
}

header nav a {
    color: rgb(90, 105, 135, .8);
    text-decoration: none;
    background-color: rgba(255, 81, 0, 0.8);
    font-size: 20px;
    border: 2px solid rgba(255, 81, 0);
    font-family: 'Playfair Display', serif;
    /* font: style variant weight size/height family; */
}

header nav {
    padding-bottom: 35px;
    padding-right: 4px;
}

header nav a:hover {
    border-color: rgba(255, 81, 0, 0.8);
    background-color: rgb(90, 105, 135);
    color: rgba(255, 81, 0, 0.8);
}

/* Section Styles */
/* These styles change the left and right sections of the page. The sections' background color, text color, font type and size, letter spacing, word spacing, and padding are changed, as well as a border added around each one. */
section#leftcol {
    background-color: rgba(168, 165, 165, 0.363);
    padding: 0px 40px 0px 40px;
    border: 3px solid rgba(255, 81, 0, 0.8);
}

section#rightcol a:hover {
    color: rgba(255, 81, 0, 0.8);
}

section#rightcol nav {
    padding: 0px 10px 10px 40px;
}

section#rightcol nav a {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
    word-spacing: 1px;
}

section#rightcol nav ul {
    list-style-type: none;
}

section#rightcol nav ul li {
    text-align: center;
    padding-right: 70px;
}

section#rightcol nav h2 {
    font-family: 'Playfair Display', serif;
}

section#rightcol {
    border: 3px solid rgba(255, 81, 0, 0.8);
    background-color: rgba(168, 165, 165, 0.363);
}

/* Aside styles */
/* These styles affect the two aside elements at the bottom of the page.  They change the font, text color, text decoration, text alignment, padding, and adds a border around each. */
aside ul {
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
    list-style-type: none;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

aside ul li.notes {
    font-family: 'Kaushan Script', cursive;
}

aside ul a {
    font-family: 'Playfair Display', serif;
}

aside ul a:hover {
    color: rgba(255, 81, 0, 0.8);
}

aside {
    border: 3px solid rgba(255, 81, 0, 0.8);
}

aside h1 {
    text-decoration: underline;
}

aside h2 {
    text-align: center;
}

aside p {
    padding: 0px 3px 0px 3px;
    text-align: center;
}