@charset "utf-8";

@font-face {
    font-family: Champange;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Dylan Kelley
   Date: 9.10.18  
   
   Filename: lake_styles.css

*/
html {
    background-color: rgb(90, 105, 135);
}

h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
    /* text-decoration: underline; */
    /* text-decoration-color: rgb(90, 105, 135); */
}

header nav a {
    color: rgb(90, 105, 135, .8);
    text-decoration: none;
    background-color: rgba(255, 81, 0, 0.8);
    font-size: 20px;
    border: 2px solid rgba(255, 81, 0);
    font-family: 'Playfair Display', serif;

    /* font: style variant weight size/height family; */
}

header nav {
    padding-bottom: 35px;
    padding-right: 4px;
}

header nav a:hover {
    border-color: rgba(255, 81, 0, 0.8);
    background-color: rgb(90, 105, 135);
    color: rgba(255, 81, 0, 0.8);
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

img {
    border: 3px solid rgba(255, 81, 0, 0.8);
}

footer {
    text-align: center;
    /* border: 3px solid rgba(255, 81, 0, 0.8); */
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 700;
}

/* header a:hover {
    background-color: rgb(90, 105, 135);
    color: rgba(255, 81, 0, 0.8);
} */

section#leftcol {
    background-color: rgba(168, 165, 165, 0.363);
    padding: 0px 40px 0px 40px;
    border: 3px solid rgba(255, 81, 0, 0.8);
}

/* body {
    background-color: rgb(90, 105, 135, 0.7);
} */

p {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 600;
}

section#rightcol a:hover {
    color: rgba(255, 81, 0, 0.8);
}

section#rightcol nav {
    padding: 0px 10px 10px 40px;
}

section#rightcol nav a {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
    word-spacing: 1px;
}

section#rightcol nav ul {
    list-style-type: none;
}

section#rightcol nav h2 {
    font-family: 'Playfair Display', serif;
}

section#rightcol {
    border: 3px solid rgba(255, 81, 0, 0.8);
    background-color: rgba(168, 165, 165, 0.363);
}

blockquote {
    padding: 0px 0px 0px 0px;
    text-align: center;
}

em {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 600;
}

cite {
    font-family: 'Playfair Display', serif;
}

aside ul {
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
    list-style-type: none;
}

aside ul li.notes {
    font-family: 'Kaushan Script', cursive;
}

aside ul a {
    font-family: 'Playfair Display', serif;
}

aside ul a:hover {
    color: rgba(255, 81, 0, 0.8);
}

aside {
    border: 3px solid rgba(255, 81, 0, 0.8);
}